.App {
  text-align: center;
}

.title {
  font-size: 8vw;
  background: linear-gradient(to right, #eeff00 30%, #42aafa 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lineThrough {
  text-decoration: line-through;
  display: inline-block;
}

.normal {
  text-decoration: none;
  display: inline-block;
}

.checkbox {
  width: 30px;
  display: inline-block;
  margin: auto;
}
