body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e8e8e8;
}

.App {
  text-align: center;
}

.title {
  font-size: 8vw;
  background: linear-gradient(to right, #eeff00 30%, #42aafa 70%);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.addBar {
  width: 500px;
  height: 40px;
  padding: 5px;
  margin: auto;
  justify-content: center;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px #aaaaaa;
}

.input {
  width: 80%;
  height: 20px;
  padding: 10px;
  border: none;
  background-color: #e8e8e8;
}

.buttonSubmit {
  color: rgb(9, 171, 123);
  padding: 10px;
  font-size: medium;
  border: none;
  background-color: #e8e8e8;
}

.lineThrough {
  text-decoration: line-through;
  display: inline-block;
}

.normal {
  text-decoration: none;
  display: inline-block;
}

.toDoList {
  width: 500px;
  margin: auto;
  border-collapse: collapse;
}

.checkBox {
  width: 30px;
  margin: auto;
  display: inline-block;
}

.row {
  border-bottom: 1pt solid white;
}

.list {
  text-align: left;
}

.listButton {
  text-align: right;
}

.buttonDelete {
  color: red;
  text-align: right;
  font-size: medium;
  border: none;
  background-color: #e8e8e8;
}
